<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR EDITORIALES - Libería</title>
</head>
<body class="bg-dark">
    <header>
        <ul class="nav nav-pills nav-fill ">
            <li class="nav-item border border-danger">
              <a class="nav-link link link-warning" aria-current="page" href="/">INICIO</a>
            </li>
            <li class="nav-item border border-danger">
              <a class="nav-link link-warning" href="/libro/lista">LISTA DE LIBROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-warning active" href="/editorial/lista">LISTA DE EDITORIALES</a>
            </li>
            <li class="nav-item border border-danger">
              <a class="nav-link link-warning" href="/autor/lista">LISTA DE AUTORES</a>
            </li>
            <li class="nav-item border border-danger">
              <a class="nav-link link-warning" href="/cliente/registro">CLIENTES</a>
            </li>
            <li class="nav-item border border-danger">
              <a class="nav-link link-warning" href="/prestamo/lista">PRESTAMOS</a>
            </li>
          </ul>
    </header>

    <main>
        <h2 class="h2 text-success">Editando editorial</h2>

        <div th:each="editorial: ${editorial}">
            <form th:action="@{/editorial/editar/__${editorial.id}__}" method="POST">
                <div>
                    <label for="nombre" class="text-primary fs-3">Nombre</label>
                    <input type="text" name="nombre" th:value="${editorial.nombre}">
                  </div>
                <br>
                
                <div>
                    <button type="submit" class="btn btn-success">Editar editorial</button>
                </div>
            </form>
        </div>

        <br>

        <div th:if="${exito}!=null" class="alert alert-success" role="alert">
            La editorial se ha editado correctamente
        </div>

        <div th:if="${error}!=null" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
    </main>
</body>
</html>